{% extends "base.html" %}
{% load static %}
{% block body %} 

<div class="services-bg" >
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 mt-5">
                <h1 class="text-white">
                    Biochemistry
                </h1>
                <h5 class="text-white">
                    Pioneering Accurate Detection and Diagnosis Through State-of-the-Art Instruments, Expert Technicians, and NABL Accredited Infrastructure.
                </h5>
            </div>
            <div class="col-lg-6 mt-5 frstform">
                    <div class="form m-3"id="firstform">
                        <h4 class="m-2">Book An Appointment</h4>
                        <form  method="post" >
                            {% csrf_token %}
                        <input type="text" class="form-control form-control-lg m-2 mt-4" placeholder="Name" name="name">
                        <input type="text" class="form-control form-control-lg m-2" placeholder="Mobile Number" name="number">
                        <input type="text" class="form-control form-control-lg m-2 mb-4" placeholder="Locality,City" name="city">
                        <input type="submit" class="btn btn-warning text-white m-2">
                        </form>
                    </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-3 border-end border-4 ">
                <h6 class="text-white">
                    Support line
                </h6>
                <div class="row">
                    <div class="col-lg-2"><i class="bi bi-telephone-fill me-1 h1 text-white"></i></div>
                    <div class="col-lg"><h1 class="text-white">0484 2352357</h1></div>
                </div>
                
            </div>
            <div class="col-lg-3">
                <h6 class="text-white">
                    Click here to
                </h6>
                <h1 class="text-white">
                    <i class="bi bi-geo-alt-fill me-1"></i> Visit Us
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="welcome container  ">
    <div class="row justify-content-center" >
        <div class="col-lg-6 welcome-text">
            <h1 class="">
                Biochemistry
            </h1>
            <h5>
                Biochemistry, the bridge between biology and chemistry, explores the chemical processes within living organisms. It delves into the molecular mechanisms of life, studying how biomolecules like proteins, nucleic acids, and enzymes function. This field is crucial for understanding disease, drug development, and unlocking the secrets of life itself.
            </h5>
            <p class="mt-3">
                Biochemistry, a captivating intersection of biology and chemistry, is the scientific discipline that unravels the intricate chemical processes underpinning life. It delves deep into the molecular realm, investigating the structure, function, and interactions of biomolecules like proteins, nucleic acids, lipids, and carbohydrates.

                At its core, biochemistry strives to decode the biochemical machinery that powers living organisms. It examines the essential reactions governing metabolism, DNA replication, gene expression, and cellular signaling. This knowledge is instrumental in comprehending the fundamental mechanisms of life, including the regulation of vital processes like growth, reproduction, and response to environmental stimuli.
                
                Biochemists, armed with cutting-edge techniques and analytical tools, play a pivotal role in diverse fields. They drive medical breakthroughs, unravel the molecular basis of diseases, and spearhead drug discovery and development. In agriculture, biochemistry informs the creation of more robust crops and sustainable farming practices. Environmental biochemists focus on ecological balance and conservation.
                
                In sum, biochemistry is the key to understanding life at its core. It offers a lens through which we explore the chemistry of living systems, paving the way for advancements that touch every facet of our existence, from healthcare to food production and environmental preservation.
            </p>
            
        </div>
        <div class="col-lg-5 welcome-imgtele ">
            
        </div>
    </div>
</div>
<div class="hcp-bg-last" >
    <div class="container">
        <div class="hcp-div">
            <div class="row ">
                <div class="col-lg-6 mt-5">
                    <h1 class="text-white">
                        Prioritize Your Health Today
                    </h1>
                    <h5 class="text-white">
                        Invest in your well-being with Primedical’s Health Checkup Packages. Regular assessments are a powerful tool in ensuring a healthier, happier life.
                    </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 border-end border-4 ">
                    <h6 class="text-white">
                        Support line
                    </h6>
                    <div class="row">
                        <div class="col-lg-2"><i class="bi bi-telephone-fill me-1 h1 text-white"></i></div>
                        <div class="col-lg"><h1 class="text-white">0484 2352357</h1></div>
                    </div>
                    
                </div>
                <div class="col-lg-3">
                    <h6 class="text-white">
                        Click here to
                    </h6>
                    <h1 class="text-white">
                        <i class="bi bi-geo-alt-fill me-1"></i> Visit Us
                    </h1>
                </div>
        </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="offering ">
        <div class=" text-center ">
            <h1>Our Offerings</h1>
            <h4>Precision Health, Tailored for You.</h4>  
        </div>
        <div class="row offering-row">
            <div class="col-lg or1">
                <h2>Diagnostic Services</h2>
                <h5>Discover precision diagnostics at Primedical. Our range includes 3D ultrasound scans, color Doppler tests, digital X-rays, ECGs, and more for accurate health insights.</h5>
                <div class="text-center">
                    <button class="btn btn-light">Learn More</button>
                </div>
            </div>
            <div class="col-lg or2">
                <h2>Health Checkup Packages</h2>
                <h5>Nurture well-being with our packages like Executive Health, Well Women, Well Men, Diabetic, Basic, and Cardiac Checkup. Comprehensive health views for a healthier you.</h5>
                <div class="text-center">
                    <button class="btn btn-light">Learn More</button>
                </div>
            </div>
            <div class="col-lg or3">
                <h2>Corporate Wellness Services</h2>
                <h5>Invest in employee health with our programs. Health assessments, consultations, and initiatives for a vibrant workplace.</h5>
                <div class="text-center">
                    <button class="btn btn-light">Learn More</button>
                </div>
            </div>
            <div class="col-lg or4">
                <h2>Specialty Doctor Consultations</h2>
                <h5>Expert care in Orthopedics, Gynecology, Cardiology, and more. Tailored guidance for specialized concerns, prioritizing your well-being.</h5>
                <div class="text-center">
                    <button class="btn btn-light">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="last-box mt-5">
    <div class="container">
        <div class="last-row-box">
            <div class="row borderlast ">
            
                <div class="col-lg-9">
                    <h1>Experience exceptional care and
                        precise imaging results.</h1>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-success">Book an Appointment</button>
                </div>
            
        </div>
        </div>
    </div>
</div>
{% endblock  %}