{% extends "base.html" %}
{% load static %}
{% block body %} 
<div class="contact-bg" >
    <div class="container">
        <div class="hcp-div">
            <div class="row ">
                <div class="col-lg-6 mt-5">
                    <h1 class="text-white">
                        Let's Connect for a Better Health
                    </h1>
                    <h5 class="text-white">
                        Connecting You with Comprehensive Diagnostics and Caring Consultations
                    </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 border-end border-4 ">
                    <h6 class="text-white">
                        Support line
                    </h6>
                    <div class="row">
                        <div class="col-lg-2"><i class="bi bi-telephone-fill me-1 h1 text-white"></i></div>
                        <div class="col-lg"><h1 class="text-white">0484 2352357</h1></div>
                    </div>
                    
                </div>
                <div class="col-lg-3">
                    <h6 class="text-white">
                        Click here to
                    </h6>
                    <h1 class="text-white">
                        <i class="bi bi-geo-alt-fill me-1"></i> Visit Us
                    </h1>
                </div>
        </div>
        </div>
    </div>
</div>


<div class="welcome container contact-map  ">
    <div class="row justify-content-center" >
        <div class="col-lg-6 welcome-text">
            <h1 class="">
                Get in Touch
            </h1>
            <h5>
                Have questions, need information, or ready to book an appointment? We’re here to assist you.
            </h5>
            <h5>
                Reach out to us using the contact details below.
            </h5>
            <p class="mt-3">
                Tele-radiology services represent a vital component of modern healthcare, leveraging advanced technology to bridge geographical gaps and enhance the accessibility of radiological expertise. This innovative approach involves the transmission of medical images, such as X-rays, CT scans, MRIs, and ultrasounds, to qualified radiologists who interpret and report on these images remotely. <br>

                The process begins with healthcare facilities, including hospitals, clinics, and imaging centers, capturing medical images as part of a patient’s diagnostic evaluation. These images are then securely transmitted, often through encrypted channels, to off-site radiologists who specialize in various areas of medical imaging. <br>

                Tele-radiologists utilize high-resolution displays and advanced software tools to analyze the images with precision and accuracy. They provide detailed reports that are promptly sent back to the referring healthcare facility, enabling timely diagnoses and treatment planning. <br>

                The benefits of tele-radiology are manifold. It overcomes geographical barriers, ensuring that patients in underserved or remote areas have access to expert radiological interpretations. Additionally, it supports healthcare providers with fast turnaround times, especially in urgent cases, and enables the sharing of workload among radiologists across time zones. <br>

                Tele-radiology services play a crucial role in improving patient care, reducing the time between image acquisition and diagnosis, and supporting clinical decision-making. They are particularly valuable in emergencies, where rapid access to radiological expertise can be life-saving, and in facilitating second opinions and subspecialty consultations. Overall, tele-radiology contributes to the efficient and effective delivery of healthcare services worldwide. <br>
            </p>
            
        </div>
        <div class="col-lg-5 map ">
            <iframe loading="lazy" src="https://maps.google.com/maps?q=PRIME%20MEDICAL%20-%20Laboratory%20%26%20Imaging%20services%2C%20Hospital%20Rd%2C%20Marine%20Drive%2C%20Ernakulam%2C%20Kerala%20682011&amp;t=m&amp;z=17&amp;output=embed&amp;iwloc=near" title="PRIME MEDICAL - Laboratory &amp; Imaging services, Hospital Rd, Marine Drive, Ernakulam, Kerala 682011" aria-label="PRIME MEDICAL - Laboratory &amp; Imaging services, Hospital Rd, Marine Drive, Ernakulam, Kerala 682011" height="100%" width="80%"></iframe>

        </div>
    </div>
</div>
<div class="last-box mt-5">
    <div class="container">
        <div class="last-row-box">
            <div class="row borderlast ">
            
                <div class="col-lg-9">
                    <h1>Experience exceptional care and
                        precise imaging results.</h1>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-success">Book an Appointment</button>
                </div>
            
        </div>
        </div>
    </div>
</div>






{% endblock  %}